Repository heavenshell/ts-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix, prettier --parser markdown --write, markdownlint

Fix forgot add markdownlint-cli
  package.json
  yarn.lock
Due: none

Fix forgot add markdownlint-cli (#15)
  package.json
  yarn.lock
Due: none

Pin dependency typescript to 3.5.3
  package.json
  yarn.lock
Due: none

Add storybook
  .storybook/addons.js
  .storybook/config.js
  .storybook/tsconfig.json
  .storybook/typings.d.ts
  README.md
  package.json
  src/stories/0-Welcome.stories.ts
  src/stories/1-Button.stories.ts
  src/stories/setup.ts
  tsconfig.app.json
  yarn.lock
Due: tslint --fix, prettier --parser markdown --write, markdownlint

Add storybook (#18)
  .storybook/addons.js
  .storybook/config.js
  .storybook/tsconfig.json
  .storybook/typings.d.ts
  README.md
  package.json
  src/stories/0-Welcome.stories.ts
  src/stories/1-Button.stories.ts
  src/stories/setup.ts
  tsconfig.app.json
  yarn.lock
Due: tslint --fix, prettier --parser markdown --write, markdownlint

Pin dependencies
  package.json
  yarn.lock
Due: none

Update devDependencies
  package.json
  yarn.lock
Due: none

Fix typescript version
  package.json
  renovate.json
  yarn.lock
Due: none

Update dependencies to v8.2.14
  package.json
  yarn.lock
Due: none

Add clarity
  .storybook/addons.js
  .storybook/config.js
  src/app/app.component.spec.ts
  src/app/app.module.ts
  src/app/components/organisms/footer/footer.component.html
  src/app/components/organisms/footer/footer.component.scss
  src/app/components/organisms/footer/footer.component.spec.ts
  src/app/components/organisms/footer/footer.component.ts
  src/app/components/organisms/header/header.component.html
  src/app/components/organisms/header/header.component.spec.ts
  src/app/components/pages/categories/categories.component.spec.ts
  src/app/components/pages/categories/categories.component.stories.ts
  src/app/components/pages/home/home.component.spec.ts
  src/app/components/pages/home/home.component.stories.ts
  src/app/components/templates/layout/layout.component.html
  src/app/components/templates/layout/layout.component.spec.ts
Due: tslint --fix

Fix prettier error
  src/app/components/atoms/github/github.component.spec.ts
  src/app/components/atoms/twitter/twitter.component.spec.ts
Due: tslint --fix

Fix drop unpassed test
  tests/categories/index.test.ts
Due: tslint --fix

Update dependencies to v2.3.3
  package.json
  yarn.lock
Due: none

Update dependencies to v2.3.4
  package.json
  yarn.lock
Due: none

Fix ts version
  package.json
  yarn.lock
Due: none

Update dependency rxjs to v6.5.4
  package.json
  yarn.lock
Due: none

Update dependencies
  package.json
  yarn.lock
Due: none

Update dependencies to v2.3.6
  package.json
  yarn.lock
Due: none

Update dependencies to v2.3.7
  package.json
  yarn.lock
Due: none

Update dependencies to v2.3.9
  package.json
  yarn.lock
Due: none

Path conditions:
  tslint --fix: any of: *.{ts,tsx}
  prettier --parser markdown --write: any of: *.md
  markdownlint: any of: *.md
