Repository heavenshell/ts-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix, prettier --parser markdown --write, markdownlint

Update dependencies to v10.0.14
  package.json
  yarn.lock
Due: none

Update devDependencies
  package.json
  yarn.lock
Due: none

Update dependencies to v4
  package.json
  yarn.lock
Due: none

Update dependencies
  package.json
  yarn.lock
Due: none

Fix update
  .storybook/preview.js
  package.json
  src/app/components/organisms/footer/footer.component.stories.ts
  src/app/components/organisms/header/header.component.stories.ts
  yarn.lock
Due: tslint --fix

Fix update (#84)
  .storybook/preview.js
  package.json
  src/app/components/organisms/footer/footer.component.stories.ts
  src/app/components/organisms/header/header.component.stories.ts
  yarn.lock
Due: tslint --fix

Add openapi and launches
  .github/workflows/main.yml
  .gitignore
  angular.json
  codegen/config.json
  codegen/swagger.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/components/organisms/header/header.component.html
  src/app/components/organisms/header/header.component.spec.ts
  src/app/components/pages/launches/launch-list/launch-list.component.html
  src/app/components/pages/launches/launch-list/launch-list.component.scss
  src/app/components/pages/launches/launch-list/launch-list.component.spec.ts
  src/app/components/pages/launches/launch-list/launch-list.component.ts
  src/app/components/pages/launches/launches-routing.module.ts
  src/app/components/pages/launches/launches.module.ts
  src/app/components/templates/layout/layout.module.ts
  src/app/shared/clr-datagrid.ts
  src/app/shared/shared.module.ts
  yarn.lock
Due: tslint --fix

Fix failing test
  src/app/components/pages/launches/launch-list/launch-list.component.spec.ts
  src/app/components/templates/layout/layout.component.html
  src/app/components/templates/layout/layout.module.ts
  src/app/shared/shared.module.ts
  tsconfig.spec.json
Due: tslint --fix

Fix ignore apis at tslint
  tslint.json
Due: none

Fix
  src/app/app.module.ts
Due: tslint --fix

Fix async to waitForAsync
  src/app/app.component.spec.ts
  src/app/components/atoms/github/github.component.spec.ts
  src/app/components/atoms/twitter/twitter.component.spec.ts
  src/app/components/organisms/footer/footer.component.spec.ts
  src/app/components/organisms/header/header.component.spec.ts
  src/app/components/pages/categories/categories.component.spec.ts
  src/app/components/pages/home/home.component.spec.ts
  src/app/components/pages/launches/launch-list/launch-list.component.ts
  src/app/components/templates/layout/layout.component.spec.ts
Due: tslint --fix

Add openapi and launches (#86)
  .github/workflows/main.yml
  .gitignore
  angular.json
  codegen/config.json
  codegen/swagger.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.component.spec.ts
  src/app/app.module.ts
  src/app/components/atoms/github/github.component.spec.ts
  src/app/components/atoms/twitter/twitter.component.spec.ts
  src/app/components/organisms/footer/footer.component.spec.ts
  src/app/components/organisms/header/header.component.html
  src/app/components/organisms/header/header.component.spec.ts
  src/app/components/pages/categories/categories.component.spec.ts
  src/app/components/pages/home/home.component.spec.ts
  src/app/components/pages/launches/launch-list/launch-list.component.html
  src/app/components/pages/launches/launch-list/launch-list.component.scss
  src/app/components/pages/launches/launch-list/launch-list.component.spec.ts
  src/app/components/pages/launches/launch-list/launch-list.component.ts
  src/app/components/pages/launches/launches-routing.module.ts
  src/app/components/pages/launches/launches.module.ts
  src/app/components/templates/layout/layout.component.html
  src/app/components/templates/layout/layout.component.spec.ts
  src/app/components/templates/layout/layout.module.ts
  src/app/shared/clr-datagrid.ts
  src/app/shared/shared.module.ts
  tsconfig.spec.json
  tslint.json
  yarn.lock
Due: tslint --fix

Fix add expanded row
  package.json
  src/app/components/pages/launches/launch-list/launch-list.component.html
  src/app/components/pages/launches/launch-list/launch-list.component.ts
  src/app/components/pages/launches/launches.module.ts
  src/styles.scss
  yarn.lock
Due: tslint --fix

Fix
  package.json
  src/app/components/pages/launches/launch-list/launch-list.component.html
  src/app/components/pages/launches/launch-list/launch-list.component.spec.ts
  src/app/components/pages/launches/launches.module.ts
  src/app/shared/shared.module.ts
  src/stories/setup.ts
  yarn.lock
Due: tslint --fix

Fix
  src/app/components/organisms/launches/launch-datagrid-detail/launch-datagrid-detail.component.html
Due: none

Fix
  src/app/components/__fixtures__/launch.ts
  src/app/components/organisms/launches/launch-datagrid-detail/launch-datagrid-detail.component.html
  src/app/components/organisms/launches/launch-datagrid-detail/launch-datagrid-detail.component.scss
  src/app/components/organisms/launches/launch-datagrid-detail/launch-datagrid-detail.component.spec.ts
  src/app/components/organisms/launches/launch-datagrid-detail/launch-datagrid-detail.component.ts
  src/app/components/pages/launches/launch-list/launch-list.component.stories.ts
Due: tslint --fix

Fix add expanded row (#87)
  package.json
  src/app/components/__fixtures__/launch.ts
  src/app/components/organisms/launches/launch-datagrid-detail/launch-datagrid-detail.component.html
  src/app/components/organisms/launches/launch-datagrid-detail/launch-datagrid-detail.component.scss
  src/app/components/organisms/launches/launch-datagrid-detail/launch-datagrid-detail.component.spec.ts
  src/app/components/organisms/launches/launch-datagrid-detail/launch-datagrid-detail.component.ts
  src/app/components/pages/launches/launch-list/launch-list.component.html
  src/app/components/pages/launches/launch-list/launch-list.component.spec.ts
  src/app/components/pages/launches/launch-list/launch-list.component.stories.ts
  src/app/components/pages/launches/launch-list/launch-list.component.ts
  src/app/components/pages/launches/launches.module.ts
  src/app/shared/shared.module.ts
  src/stories/setup.ts
  src/styles.scss
  yarn.lock
Due: tslint --fix

Add launch-detail
  src/app/components/organisms/header/header.component.html
  src/app/components/organisms/header/header.component.spec.ts
  src/app/components/organisms/header/header.component.ts
  src/app/components/organisms/launches/launch-datagrid-detail/launch-datagrid-detail.component.html
  src/app/components/organisms/launches/launch-datagrid-detail/launch-datagrid-detail.component.ts
  src/app/components/organisms/launches/launch-detail/launch-detail.component.html
  src/app/components/organisms/launches/launch-detail/launch-detail.component.scss
  src/app/components/organisms/launches/launch-detail/launch-detail.component.spec.ts
  src/app/components/organisms/launches/launch-detail/launch-detail.component.ts
  src/app/components/pages/categories/categories.component.spec.ts
  src/app/components/pages/home/home.component.spec.ts
  src/app/components/pages/launches/launch-detail/launch-detail.component.html
  src/app/components/pages/launches/launch-detail/launch-detail.component.scss
  src/app/components/pages/launches/launch-detail/launch-detail.component.spec.ts
  src/app/components/pages/launches/launch-detail/launch-detail.component.stories.ts
  src/app/components/pages/launches/launch-detail/launch-detail.component.ts
  src/app/components/pages/launches/launch-list/launch-list.component.html
  src/app/components/pages/launches/launch-list/launch-list.component.ts
  src/app/components/pages/launches/launches-routing.module.ts
  src/app/components/pages/launches/launches.module.ts
  src/app/components/templates/layout/layout.component.html
  src/app/components/templates/layout/layout.component.spec.ts
  src/app/components/templates/layout/layout.component.ts
Due: tslint --fix

Add launch-detail (#90)
  src/app/components/organisms/header/header.component.html
  src/app/components/organisms/header/header.component.spec.ts
  src/app/components/organisms/header/header.component.ts
  src/app/components/organisms/launches/launch-datagrid-detail/launch-datagrid-detail.component.html
  src/app/components/organisms/launches/launch-datagrid-detail/launch-datagrid-detail.component.ts
  src/app/components/organisms/launches/launch-detail/launch-detail.component.html
  src/app/components/organisms/launches/launch-detail/launch-detail.component.scss
  src/app/components/organisms/launches/launch-detail/launch-detail.component.spec.ts
  src/app/components/organisms/launches/launch-detail/launch-detail.component.ts
  src/app/components/pages/categories/categories.component.spec.ts
  src/app/components/pages/home/home.component.spec.ts
  src/app/components/pages/launches/launch-detail/launch-detail.component.html
  src/app/components/pages/launches/launch-detail/launch-detail.component.scss
  src/app/components/pages/launches/launch-detail/launch-detail.component.spec.ts
  src/app/components/pages/launches/launch-detail/launch-detail.component.stories.ts
  src/app/components/pages/launches/launch-detail/launch-detail.component.ts
  src/app/components/pages/launches/launch-list/launch-list.component.html
  src/app/components/pages/launches/launch-list/launch-list.component.ts
  src/app/components/pages/launches/launches-routing.module.ts
  src/app/components/pages/launches/launches.module.ts
  src/app/components/templates/layout/layout.component.html
  src/app/components/templates/layout/layout.component.spec.ts
  src/app/components/templates/layout/layout.component.ts
Due: tslint --fix

Add timelines
  src/app/app-routing.module.ts
  src/app/components/__fixtures__/launches.ts
  src/app/components/__fixtures__/upcomings.ts
  src/app/components/molecules/tabs/tabs.component.html
  src/app/components/molecules/tabs/tabs.component.scss
  src/app/components/molecules/tabs/tabs.component.spec.ts
  src/app/components/molecules/tabs/tabs.component.ts
  src/app/components/organisms/launches/launch-detail/launch-detail.component.html
  src/app/components/organisms/timeline/timeline.component.html
  src/app/components/organisms/timeline/timeline.component.scss
  src/app/components/organisms/timeline/timeline.component.spec.ts
  src/app/components/organisms/timeline/timeline.component.ts
  src/app/components/pages/launches/launch-list/launch-list.component.html
  src/app/components/pages/launches/launch-list/launch-list.component.ts
  src/app/components/pages/timelines/all/all.component.html
  src/app/components/pages/timelines/all/all.component.scss
  src/app/components/pages/timelines/all/all.component.spec.ts
  src/app/components/pages/timelines/all/all.component.stories.ts
  src/app/components/pages/timelines/all/all.component.ts
  src/app/components/pages/timelines/pasts/pasts.component.html
  src/app/components/pages/timelines/pasts/pasts.component.scss
  src/app/components/pages/timelines/pasts/pasts.component.spec.ts
  src/app/components/pages/timelines/pasts/pasts.component.stories.ts
  src/app/components/pages/timelines/pasts/pasts.component.ts
  src/app/components/pages/timelines/timelines-routing.module.ts
  src/app/components/pages/timelines/timelines.module.ts
  src/app/components/pages/timelines/upcomings/upcomings.component.html
  src/app/components/pages/timelines/upcomings/upcomings.component.scss
  src/app/components/pages/timelines/upcomings/upcomings.component.spec.ts
  src/app/components/pages/timelines/upcomings/upcomings.component.stories.ts
  src/app/components/pages/timelines/upcomings/upcomings.component.ts
  src/app/components/templates/layout/layout.component.html
  src/app/components/templates/layout/layout.component.ts
  src/app/shared/utils.ts
  src/styles.scss
Due: tslint --fix

Add timelines (#91)
  src/app/app-routing.module.ts
  src/app/components/__fixtures__/launches.ts
  src/app/components/__fixtures__/upcomings.ts
  src/app/components/molecules/tabs/tabs.component.html
  src/app/components/molecules/tabs/tabs.component.scss
  src/app/components/molecules/tabs/tabs.component.spec.ts
  src/app/components/molecules/tabs/tabs.component.ts
  src/app/components/organisms/launches/launch-detail/launch-detail.component.html
  src/app/components/organisms/timeline/timeline.component.html
  src/app/components/organisms/timeline/timeline.component.scss
  src/app/components/organisms/timeline/timeline.component.spec.ts
  src/app/components/organisms/timeline/timeline.component.ts
  src/app/components/pages/launches/launch-list/launch-list.component.html
  src/app/components/pages/launches/launch-list/launch-list.component.ts
  src/app/components/pages/timelines/all/all.component.html
  src/app/components/pages/timelines/all/all.component.scss
  src/app/components/pages/timelines/all/all.component.spec.ts
  src/app/components/pages/timelines/all/all.component.stories.ts
  src/app/components/pages/timelines/all/all.component.ts
  src/app/components/pages/timelines/pasts/pasts.component.html
  src/app/components/pages/timelines/pasts/pasts.component.scss
  src/app/components/pages/timelines/pasts/pasts.component.spec.ts
  src/app/components/pages/timelines/pasts/pasts.component.stories.ts
  src/app/components/pages/timelines/pasts/pasts.component.ts
  src/app/components/pages/timelines/timelines-routing.module.ts
  src/app/components/pages/timelines/timelines.module.ts
  src/app/components/pages/timelines/upcomings/upcomings.component.html
  src/app/components/pages/timelines/upcomings/upcomings.component.scss
  src/app/components/pages/timelines/upcomings/upcomings.component.spec.ts
  src/app/components/pages/timelines/upcomings/upcomings.component.stories.ts
  src/app/components/pages/timelines/upcomings/upcomings.component.ts
  src/app/components/templates/layout/layout.component.html
  src/app/components/templates/layout/layout.component.ts
  src/app/shared/utils.ts
  src/styles.scss
Due: tslint --fix

Fix tiny
  .github/workflows/main.yml
  README.md
Due: prettier --parser markdown --write, markdownlint

Fix tiny (#92)
  .github/workflows/main.yml
  README.md
Due: prettier --parser markdown --write, markdownlint

Add histories
  src/app/app-routing.module.ts
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/components/__fixtures__/histories.ts
  src/app/components/organisms/histories/history-datagrid-detail/history-datagrid-detail.component.html
  src/app/components/organisms/histories/history-datagrid-detail/history-datagrid-detail.component.scss
  src/app/components/organisms/histories/history-datagrid-detail/history-datagrid-detail.component.spec.ts
  src/app/components/organisms/histories/history-datagrid-detail/history-datagrid-detail.component.ts
  src/app/components/organisms/histories/history-detail/history-detail.component.html
  src/app/components/organisms/histories/history-detail/history-detail.component.scss
  src/app/components/organisms/histories/history-detail/history-detail.component.spec.ts
  src/app/components/organisms/histories/history-detail/history-detail.component.ts
  src/app/components/pages/histories/histories-routing.module.ts
  src/app/components/pages/histories/histories.module.ts
  src/app/components/pages/histories/history-detail/history-detail.component.html
  src/app/components/pages/histories/history-detail/history-detail.component.scss
  src/app/components/pages/histories/history-detail/history-detail.component.spec.ts
  src/app/components/pages/histories/history-detail/history-detail.component.stories.ts
  src/app/components/pages/histories/history-detail/history-detail.component.ts
  src/app/components/pages/histories/history-list/history-list.component.html
  src/app/components/pages/histories/history-list/history-list.component.scss
  src/app/components/pages/histories/history-list/history-list.component.spec.ts
  src/app/components/pages/histories/history-list/history-list.component.stories.ts
  src/app/components/pages/histories/history-list/history-list.component.ts
  src/app/components/pages/launches/launch-list/launch-list.component.spec.ts
  src/app/components/pages/launches/launch-list/launch-list.component.stories.ts
  src/app/components/templates/layout/layout.component.html
  src/index.html
Due: tslint --fix

Fix
  src/app/components/organisms/histories/history-datagrid-detail/history-datagrid-detail.component.ts
Due: tslint --fix

Add histories (#95)
  src/app/app-routing.module.ts
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/components/__fixtures__/histories.ts
  src/app/components/organisms/histories/history-datagrid-detail/history-datagrid-detail.component.html
  src/app/components/organisms/histories/history-datagrid-detail/history-datagrid-detail.component.scss
  src/app/components/organisms/histories/history-datagrid-detail/history-datagrid-detail.component.spec.ts
  src/app/components/organisms/histories/history-datagrid-detail/history-datagrid-detail.component.ts
  src/app/components/organisms/histories/history-detail/history-detail.component.html
  src/app/components/organisms/histories/history-detail/history-detail.component.scss
  src/app/components/organisms/histories/history-detail/history-detail.component.spec.ts
  src/app/components/organisms/histories/history-detail/history-detail.component.ts
  src/app/components/pages/histories/histories-routing.module.ts
  src/app/components/pages/histories/histories.module.ts
  src/app/components/pages/histories/history-detail/history-detail.component.html
  src/app/components/pages/histories/history-detail/history-detail.component.scss
  src/app/components/pages/histories/history-detail/history-detail.component.spec.ts
  src/app/components/pages/histories/history-detail/history-detail.component.stories.ts
  src/app/components/pages/histories/history-detail/history-detail.component.ts
  src/app/components/pages/histories/history-list/history-list.component.html
  src/app/components/pages/histories/history-list/history-list.component.scss
  src/app/components/pages/histories/history-list/history-list.component.spec.ts
  src/app/components/pages/histories/history-list/history-list.component.stories.ts
  src/app/components/pages/histories/history-list/history-list.component.ts
  src/app/components/pages/launches/launch-list/launch-list.component.spec.ts
  src/app/components/pages/launches/launch-list/launch-list.component.stories.ts
  src/app/components/templates/layout/layout.component.html
  src/index.html
Due: tslint --fix

Path conditions:
  tslint --fix: any of: *.{ts,tsx}
  prettier --parser markdown --write: any of: *.md
  markdownlint: any of: *.md
